/node_modules
combined.log
/server/log/*.log
*.log
/server/tracking/tracking.txt

/server/scripts/i2s_midgard.json
server/tracking/tracking.txt
server/uploads/files/*
server/uploads/images/*
server/tracking/*

