<div style="display: flex; align-items: center; flex-direction: column">
    <h3 style="margin-bottom: -10px">Hello !</h3>
    <h4>
        Please verify your account by clicking the link:
        <a href="<%= url %>" style="color: blue">link </a>
    </h4>
    <h3>thank you</h3>
</div>
